body{
    width: 80%;
    margin: 0 auto;
}

.blog{
    border: 2px solid grey;
    background-color: rgba(153,50,204,0.4);
}

.post{
    border: 2px solid grey;
    margin-top: -2px;
    margin-left: -2px;
    margin-right: -2px;
    padding: 10px;
    text-align: left;
    margin-bottom: 10px;
    background-color: #fff;
    opacity: 1;
}

.welcomeModal{
    position: fixed;
    top: 15%;
    top: calc(50vh - 150px);
    left: 45%;
    left: calc(50vw - 150px);
    max-width: 400px;
    min-height: 200px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    background: #f0f2eb;
    box-shadow: 0 0px 14px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    opacity: 1;
    z-index: 1;
}

.welcomeModal>h2{
    font-size: 24px;
    color: crimson;
}

.btn-hide{
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    text-align: center;
    line-height: 15px;
    cursor: pointer;
    background-color: #fff;
}